.root{
fond : #191970;
-fx-background-color : derive(fond, -100%);
-fx-border-color : aqua;
}

.label{
-fx-text-alignment : center;
-fx-padding : 5;
-fx-text-fill : white;
-fx-font-family : 'serif'

}

.top{
-fx-padding : 25;
-fx-background-color : #778899;
-fx-pref-height : 100;
-fx-border-color : aqua;
}

#id{
-fx-alignment: center;
-fx-padding : 10;
}

.textField{
-fx-alignment: center;
-fx-padding : 10;
-fx-text-fill : #191970;
-fx-highlight-text-fill : red;
-fx-prompt-text-fill : #778899;
-fx-highlight-fill : red;
-fx-display-caret : true;

}

#textFieldPassword{


}

.title{
-fx-padding : 10;
-fx-font-size : 45;
-fx-text-alignment : CENTER;
-fx-alignment : CENTER;
-fx-display : center;
-fx-fill : #778899;
-fx-font-family: 'serif';
}

.sub-title{
-fx-padding : 10;
-fx-text-alignment : CENTER;
-fx-alignment : CENTER;
}

.button{
lol : radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 75%, reflect, #778899,#778899,#778899,#778899,#778899,#778899,#778899,#778899,#778899, aqua,#191970,black);
-fx-padding : 5;
-fx-background-color : lol;
-fx-text-overrun : clip;
-fx-text-fill : white;
-fx-font-family : serif;
}

#buttonLogIn{
oskour : derive(fond, -100%);
-fx-alignment: center;
-fx-padding : 10;
lol : radial-gradient(focus-angle 0deg, focus-distance 0%, center 50% 50%, radius 75%, reflect, oskour,oskour,oskour,oskour,oskour,oskour,oskour,oskour,oskour,oskour, aqua,#778899,black);
}

#searcherButton{
-fx-alignment : center;
}

.brd{
-fx-padding : 20;
-fx-border-color : #778899;
-fx-content-display : CENTER;
-fx-alignment : CENTER;
}

#bottom{
-fx-padding : 15;
-fx-border-color : #778899;
-fx-alignment : CENTER;
-fx-content-display : CENTER;
}

#center{
-fx-padding : 25;
-fx-border-color : #778899;
-fx-alignment : CENTER;

}

#requestTextField{

}

#box{
-fx-padding :20;
-fx-alignment : center;
}
.img{
-fx-padding : 20;
-fx-alignment : center;
-fx-display-alignment : center;
-fx-blend-mode : difference;
}
#imageView{
-fx-padding : 50;
}

#imageViewAdmin{
-fx-blend-mode : soft-light;
}

.image{
-fx-alignment : center;
}

.dif{
-fx-blend-mode : difference;
}

.ndif{
-fx-blend-mode : lighten;
}

.searchImageView{
-fx-padding : 25;
}


#listView {
-fx-orientation : vertical;
}

.borderPane{

}

#logoVbox{
-fx-display:"CENTER";
-fx-minWidth:"400";
}

.center{
-fx-border-color:aqua;
}

.textArea{
-fx-alignment: center;
-fx-padding : 10;
-fx-text-fill : #191970;
-fx-display-caret : true;
-fx-background-color :#778899;

}

.set{
-fx-alignment : center;
-fx-label-alignment : center;
-fx-display : center;
-fx-spacing : 25;
}